@model IEnumerable<Student>
@{
    ViewData["Title"] = "Weekly Report";
}

<div class="container ">
    <div class="row p-2 justify-content-start">
        <div class="col-4">
            <input type="date" />
        </div>
        <div class="col-3">
            <form asp-action="Dashboard">
                <button class="btn btn-warning">Daily Dashboard</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Lates</th>
                        <th scope="col">Absences</th>
                        <th scope="col">Profile</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model)
                    {
                        <tr>
                            <td>@student.nNumber</td>
                            <td>@student.firstName @student.lastName</td>
                            <td class="align-middle">0</td>
                            <td class="align-middle">0</td>
                            <td class="align-middle"><button class="btn btn-info btn-lg btn-block "></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

