@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <!--Add links to your stuff here-->
    <a asp-action="Login" asp-controller="Admin">Charlie</a><br />
    <a asp-action="Create" asp-controller="Student">Christopher</a><br />
    <a asp-action="CheckIn" asp-controller="Attendance">Jackie</a><br />
    <a asp-action="StudentSearch" asp-controller="Student">John</a>
</div>
