@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <!--Add links to your stuff here-->
    <a>Charlie</a><br />
    <a asp-action="Create" asp-controller="Student">Christopher</a><br />
    <a asp-action="CheckIn" asp-controller="Attendance">Jackie</a><br />
    <a asp-action="StudentSearch" asp-controller="Student">John</a>
</div>
