@model Student

@{
    ViewData["Title"] = "Edit";
}

    <style>
        h1, h4 {
            font-family: Abril;
        }

        p {
            font-family: "ITC Stone Sans";
        }
    </style>

<h1>Edit</h1>

<h4>@Model.firstName @Model.lastName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="firstName" class="control-label">First Name: </label>
                <input asp-for="firstName" class="form-control" required />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="control-label">Last Name: </label>
                <input asp-for="lastName" class="form-control" required />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nNumber" class="control-label">UNF nNumber: </label>
                <input asp-for="nNumber" class="form-control" required />
                <span asp-validation-for="nNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="birthDate" class="control-label">Birth Date: </label>
                <input asp-for="birthDate" class="form-control" required type="date" />
                <span asp-validation-for="birthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="scholarship" class="control-label">Scholarship Source: </label>
                <select asp-for="scholarship" class="form-control">
                    <option value="None">None</option>
                    <option value="McKay">McKay</option>
                    <option value="Gardiner">Gardiner</option>
                    <option value="Vocational Rehab">Vocational Rehab</option>
                    <option value="Private Pay">Private Pay</option>
                    <option value="Private Scholarship">Private Scholarship</option>
                    <option value="MedWaiver">MedWaiver</option>
                    <option value="CDC+">CDC+</option>
                    <option value="Other">Other</option>
                </select>
                <span asp-validation-for="scholarship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentImage" class="control-label">Student Picture: </label>
                <input asp-for="studentImage" class="form-control" type="file" multiple="multiple" required />
                <span asp-validation-for="studentImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="StudentSearch">Back to List</a>
</div>
