
@{
    ViewData["Title"] = "StudentView";
}

<!--Template Page for Seeing Student Information-->

<h1>StudentView</h1>

N Number: <br />
First Name: <br />
Last Name: <br />
Scholarship: <br />
Current Year: <br />
Age: <br />