@model Donut_Deliverable1.Models.Admin
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="userName" class="control-label"></label>
        <input asp-for="userName" class="form-control" />
        <span asp-validation-for="userName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="password" class="control-label"></label>
        <input asp-for="password" class="form-control" />
        <span asp-validation-for="password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>