
@{
    ViewData["Title"] = "StudentView";
}

<!--Template Page for Seeing Student Information-->

<h1>First Name Last Name</h1>

<h4>First Name:</h4> 
<br />
<h4>Last Name:</h4>
<br />
<h4>UNF nNumber:</h4>
<br />
<h4>Birth Date:</h4>
<br />
<h4>Scholarship Source:</h4>
<br />