@model Donut_Deliverable1.Controllers.AttendanceController

@{
    ViewData["Title"] = "CheckIn";
}

<div class="jumbotron vertical-center">

    <div class="text-center">
        <h1>Check-In</h1>


        <form asp-action="Verification" asp-controller="Attendance" method="Post">
            <label for="nNumber" style="font-size:30px">Please enter your N-number: </label>
            <input type="text" id="nNumber" placeholder="n11111111" name="nNumber" required />
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
    </div>
</div>
