@{
    ViewData["Title"] = "Verification";
}

<h1>Verification</h1>

<div class="text-center">

    <h3>Is this you?</h3>
    <img src="/images/person.png" alt="Green check mark" width="250" height="250" />
    <input type="submit" value="Yes" class="btn btn-lg btn-success" onclick="location.href='@Url.Action("Success", "Attendance")'" />
    <input type="submit" value="No" class="btn btn-lg btn-danger" onclick="location.href='@Url.Action("CheckIn", "Attendance")'" />
</div>